body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 150px; /* Adjust as needed */
  margin-bottom: 10px;

}

.navigation {
  background-color: #000;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.active {
  color: #fff;
  background-color: transparent;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.navigation a:hover {
  text-decoration: underline;
  color: rgba(20, 231, 20, 0.877);
  opacity: 0.7;
}

.navigation .search {
  background-color: rgba(0, 255, 170, 0.815);
  font-size: 20px;
  color: #000;
  padding: 10px 15px;
  border-radius: 5px;
}

.navigation .search:hover {
  color: #fff;
  background-color: rgba(0, 255, 170, 0.534);
}

h1.appdev {
  text-align: center;
  color: rgba(75, 27, 209, 0.808);
  background-color: #fff;
  font-size: 2.5rem;
  border-radius: 50px;
  padding: 20px;
  margin: 20px 0;
}

h2 {
  color: rgb(41, 31, 175);
  text-align: center;
}

h3 {
  text-align: center;
}

button.click {
  width: 10%;
  padding: 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button.click:hover {
  background-color: #0056b3;
}