<!--<app-navbar></app-navbar>-->

<!--navbar-->
<body>


<div class="navigation">
    <a class="active" href="#">Home</a>
    <a class="active" href="#">About</a>
    <a class="active" href="#">Gallery</a>
    <a class="active" href="#">Contacts</a>
    <a class="search" href="#">Search</a>
</div>

<header>
  <div class="header-content">
    <img src="https://cdn-icons-png.flaticon.com/512/5766/5766065.png" alt="Application Logo" class="logo">
    <h1 class="app-title">APPDEV1 - Samdao, Reymart K</h1>
  </div>
</header>


<h2>A Project_MEM</h2>

<button class="click">Click Here</button>

<h3>A Table</h3>
</body>