<app-header>
  <app-navbar>

  </app-navbar>
</app-header>
<app-body>
  <table>

  </table>
</app-body>
<app-footer>

</app-footer>


<div class="navigation">
  <a class="active" href="">Home</a>
  <a class="active" href="">Products</a>
  <a class="active" href="">Shop Location</a>
  <a class="active" href="">About</a>
  <a class="login" href="">Login</a>
</div>

  <h1 class="appdev">
    APPDEV1- Samdao,Reymart.K
  </h1>

  <h3>{{title}}</h3>
  <h4>{{course}}</h4>

  <h2>
    AProject_MEM
  </h2>
  
  <button class="click">Click Here</button>
  
  <h3>
    A Table
  </h3>
  
  
  <link rel="stylesheet" href="app.component.css">