/*footer*/
.footer {
  background-color: #525e69;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%;
  text-align: center;
  z-index: 1000; 
}

.footer p {
  margin: 0;
  color: #f8f8f8;
  text-align: center;
  align-items: center;
}

.footer a {
  color: #f0f5f2;
  text-decoration: none;
  font-size: 20px;
  padding-right: 20px;

  align-items: center;
}

.footer a:hover {
  text-decoration: underline;
}


body {
  padding-bottom: 80px; 
}
