<router-outlet name="header">
  <app-header></app-header>
</router-outlet>


<div style="display: flex; height: 100vh;">

  <div style="flex: 1; border-right: 1px solid #ddd;">
    <router-outlet name="left">
      <app-service-list></app-service-list>
    </router-outlet>
  </div>


  <div class="middle-panel">
    <router-outlet></router-outlet>
  </div>


  <div style="flex: 1; border-left: 1px solid #ddd;">
    <router-outlet name="right">
      <app-service-details></app-service-details>
    </router-outlet>
  </div>

</div>



<router-outlet name="footer">
  <app-footer></app-footer>
</router-outlet>