/*body*/
*{
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column; 
  height: 100%; 
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  padding: 20px; 
  overflow: auto; 
}




/*contents*/
.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

.left-panel, .right-panel {
  width: 25%;
  border: 1px solid #dd0606;
  padding: 20px;
}

.middle-panel {
  width: 45%;
  padding: 20px;
  
}

nav {
  background-color: #333;
  padding: 10px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a.active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

h2, h1 {
  color: #333;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

